* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: lime;
}

body {
  margin: 0;
  background: #282c34;
  color: white;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

.bracket {
  color: #f9d848;
}

.skill{
  &__item{
    color: #c5947c;
    font-weight: bold;
  }
  &__group{
    display: inline-block;
  }
}
